###
# Proxmox configuration
# ---------------------
INFRASTRUCTURE_PROXMOX_ADDRESS="192.168.145.128"
INFRASTRUCTURE_PROXMOX_PASSWORD="password"
INFRASTRUCTURE_CODENAME="pve"
INFRASTRUCTURE_SCENARIO="demo_lab"

###
# Local deployer configuration
# ----------------------------
DEPLOYER_CLI_CONFIG_USER="user"
DEPLOYER_CLI_CONFIG_IP="127.0.0.1"

###
# Remote deployer configuration
# -----------------------------
# DEPLOYER_CLI_CONFIG_USER="test"
# DEPLOYER_CLI_CONFIG_PASSWORD="test"
# DEPLOYER_CLI_CONFIG_IP="10.1.20.12"

###
# Default values
# --------------
# GENERATE_SSH_KEYS_PASSWORD="YES"
# JUMP_ON_PROXMOX="YES"
#
# INFRASTRUCTURE_PROXMOX_DEST_ISO_STORAGE_NAME="local"
# INFRASTRUCTURE_PROXMOX_DEST_VM_STORAGE_NAME="local-lvm"
# INFRASTRUCTURE_PROXMOX_DEFAULT_NETWORK_CARD_INTERFACE="enp3s0"
#
# INFRASTRUCTURE_PROXMOX_API_USER="api_user"

###
# Define empty passphrase to avoid ssh key passphrase usage
# ---------------------------------------------------------
PX_ROOT_PASSPHRASE=""
PX_JUMP_PASSPHRASE=""
DEPLOYER_PASSPHRASE=""
STUDENT_PASSPHRASE=""

###
# Define existing Proxmox API conf
# --------------------------------
# INFRASTRUCTURE_PROXMOX_API_TOKEN_ID="WI6c"
# INFRASTRUCTURE_PROXMOX_API_TOKEN_SECRET="bc849278-ef09-4188-bab3-046a95aabc4c"