
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####
#### DIR VARS

export LC_ALL="C.UTF-8" 

export RANGE42_INFRASTRUCTURE_CODENAME="{{ INFRASTRUCTURE_CODENAME }}"
export RANGE42_INFRASTRUCTURE_LAB="{{ INFRASTRUCTURE_SCENARIO }}"
export RANGE42_INFRASTRUCTURE_CODENAME_LAB_NAMES="$RANGE42_INFRASTRUCTURE_CODENAME-$RANGE42_INFRASTRUCTURE_LAB" 

export RANGE42_GITDIR__ROOT_DIR="$HOME/range42/"
export RANGE42_CONFIG__ROOT_DIR="$HOME/range42.config/$RANGE42_INFRASTRUCTURE_CODENAME_LAB_NAMES/"

export RANGE42_ANSIBLE_ROLES__ROOT_DIR="${RANGE42_GITDIR__ROOT_DIR%/}/"

# to remove # export RANGE42_ANSIBLE_ROLES__DEVKITS_DIR="${RANGE42_ANSIBLE_ROLES__ROOT_DIR%/}/range42-ansible_roles-private-devkit/"
# to remove # export RANGE42_ANSIBLE_ROLES__DEVKITS_DIR="${RANGE42_ANSIBLE_ROLES__ROOT_DIR%/}/range42-ansible_roles-debug-devkit/"

# FIX 26.11.25

export RANGE42_ANSIBLE_ROLES__DEVKITS_DIR="${RANGE42_GITDIR__ROOT_DIR%/}/range42-ansible_roles-debug-devkit/"
export RANGE42_ANSIBLE_ROLES__INVENTORY_DIR="${RANGE42_CONFIG__ROOT_DIR%/}/inventory/"

# FIX TODO in range42-playbooks/scenarios/{{ INFRASTRUCTURE_SCENARIO }}/*
# ansible-playbook -i ../../../inventory/off_cr_42.yml => use this variable $RANGE42_ANSIBLE_ROLES__INVENTORY_DIR
#

# testing
# export TMP_RANGE42_ANSIBLE_INVENTORY_DIR="/home/grml/_products.git-hyde-repo/range42-infrastructures-installers/scenarios/demo_lab/inventory/"

export RANGE42_INVENTORY="${RANGE42_ANSIBLE_ROLES__ROOT_DIR%/}/range42-catalog"
export RANGE42_INVENTORY__DOCKER__CTF="${RANGE42_INVENTORY%/}/03_container_layer/docker/_ctf/"

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####
# :: ROLES PATH

TMP_ANSIBLE_ROLES_PATHS="${RANGE42_ANSIBLE_ROLES__ROOT_DIR%/}/range42-ansible_roles-proxmox_controller/roles/:"
TMP_ANSIBLE_ROLES_PATHS+="${RANGE42_ANSIBLE_ROLES__ROOT_DIR%/}/range42-catalog/02_ansible_layer/admin/roles/:"
TMP_ANSIBLE_ROLES_PATHS+="${RANGE42_ANSIBLE_ROLES__ROOT_DIR%/}/range42-catalog/02_ansible_layer/trainee/roles/"

export ANSIBLE_ROLES_PATH="$TMP_ANSIBLE_ROLES_PATHS"

# #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

